<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-12 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h2">Master's in Computer Science (2021 - 2023)</div>
              <div class="h5">The State University of New York at Buffalo</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-12 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <div class="h2">Bachelor's in Information Technology (2015 - 2019)</div>
              <div class="h5">Mumbai University</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>